 <!-- Footer -->
  <footer><br>
    <section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5 class="category">Get to Know Us</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="home" style="color: #afeeee">Home</a></li>
						<li><a href="aboutus" style="color: #afeeee">About PAWSter Care</a></li>
						<li><a href="faq" style="color: #afeeee">FAQ</a></li>
						<li><a href="policies" style="color: #afeeee">Get Started</a></li>
					</ul>
				</div>
                <div class="col-xs-12 col-sm-4 col-md-4">
					<h5 class="category">Contact Us</h5>
                    <ul class="list-unstyled quick-links">
						<li><a href="feedbackform" style="color: #afeeee">Feedback Form</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
					<h5 class="category">Request An Adoption</h5>
                    <ul class="list-unstyled quick-links">
						<li><a href="dogs" style="color: #afeeee">Browse for Dogs</a></li>
                    </ul>
                </div>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>PAWSter Care is a registered non-profit organization in the Philippines.</p>
					<p class="h6">&copy All right Reversed. ANG, LUA, TANDOC</p>
				</div>
        </div>
        </div>
      </section>
    </footer>