<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:right;">
                    <span aria-hidden="true">&times;&nbsp;</span>
                </button>
                <div><img src="/img/laptopwriting.png" style="height:30%; width: 30%; margin-left: 35%; margin-right: 40%;position: relative; top: -60px; margin-bottom: -60px;">
                </div>
            <div class="modal-header text-black antipastoR">
                <h4 class="modal-title lmn mx-auto" id="">Login</h4>
                
            </div>
            </div>
            <div class="modal-body">
                <form id="login-form">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="fa fa-user-circle"></span>
                            </span>
                        </div>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </span>
                        </div>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1" data-toggle="password">
                        <div class="input-group-append">
                            <span id="show-password-btn" class="input-group-text">
                                <i class="fa fa-eye"></i>
                            </span>
                        </div>
                    </div>
                    <p class="text-center cg">
                        Not yet registered? <a href="/sign-up">Sign Up!</a>
                    </p>
                </form>
            </div>
            <div class="modal-footer cg">
                <button id="login-btn" type="button" class="btn bg-dark-purple text-white cg">Login</button>
                <button type="button" class="btn btn-secondary cg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>