<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--  title details    -->
    <title>PAWSter Care - Adopt your Pup!</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/logo.png" />
    <!-- BootstrapCDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Custom fonts for this template -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!------ Footer ---------->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- custom CSS -->
    <link href="../css/PAWSter%20Care.css" rel="stylesheet">
    <link href="../css/about_us.css" rel="stylesheet">
    <!-- custom js + slider -->
    <script src="../js/jssor.slider-27.5.0.min.js" type="text/javascript"></script>
    <script src="../js/PAWSter%20Care.js" type="text/javascript"></script>
</head>

<body>
    {{> navbar}}
    <div class="bg-aboutus">
        <div class="container">
            <div class="row">
                <div class="col mt-5">
                    <br><br><br><br>
                    <br><br>
                    <h1 class="post-title chewy mt-5 col-10" style="text-align:left; margin-top:110px!important;">What is PAWSter Care?</h1>
                    <p class="cabin col-10 mt-4">
                        PAWSter Care is a non-profit organization which is dedicated to the protection and the promotion of humane treatment of all animals. The organization currently houses over 80 dogs that are either rescued or neglected. <br>
 <br>
                        Here, dogs are rehabilitated in the hope of finding them new homes and a second chance at a good life. PAWSter Care advocates for responsible pet owners. The organization believes that education is a vital key in raising awareness on the proper treatment of animals.
                    </p>
                    <br><br><br><br><br><br><br><br><br><br>
                </div>
                <div class="col">
                    2 of 2
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="ml-3" style="max-height: 98%!important; max-width: 98%!important;" src="../img/aboutUsDog1.jpg" />
                </div>
                <div class="col mt-5" style="margin-top:100px!important;">
                     <h2 class="post-title bubblegumsans text-center text-brown mt-5">
                        GOAL
                    </h2>
                    <p class="post-meta cabin text-brown text-center">
                        The main goal of the organization is to help people understand why all animals deserve our respect and protection – beginning with our beloved companion animals.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col mt-5">
                    <h3 class="post-title bubblegumsans text-center text-brown mt-5">
                        FACTS/DATA
                    </h3>
                    <p class="post-meta cabin text-brown text-center">
                        In the Philippines, animal abandonment is still rampant despite Republic Act 8485 or the Animal Welfare Act of 1998. Under the law, pet owners should not “neglect to provide adequate care, sustenance or shelter, or maltreat any animal." PAWS-ter Care has sheltered more than 50 dogs rescued from the streets of Metro Manila. They all suffered from abuse ranging from abandonment to being denied treatment of various injuries they had sustained.
                    </p>
                </div>
                <div class="col">
                    <img class="ml-3" style="max-height: 98%!important; max-width: 98%!important;" src="../img/aboutUsDog2.jpg" />
                </div>
            </div>
        </div>
    </div>
 <!--
    <h1 class="post-title" style="text-align:center">What is PAWSter Care?</h1>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-lg-0 col-md-0 mx-auto">
                <div class="post-preview">
                    <p class="post-meta">
                        PAWSter Care is a non-profit organization which is dedicated to the protection and the promotion of humane treatment of all animals. The organization currently houses over 80 dogs that are either rescued or neglected. Here, dogs are rehabilitated in the hope of finding them new homes and a second chance at a good life.
                        PAWSter Care advocates for responsible pet owners. The organization believes that education is a vital key in raising awareness on the proper treatment of animals.
                    </p>
                </div>
            </div>
        </div>
    </div> <br>
    <!-- image slider -->
    <!-- Generator: Jssor Slider Maker -->
    <!-- <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:550px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
      <!--   <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="../img/spin.svg" />
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:450px;overflow:hidden;">
            <div>
                <img data-u="image" style="height: 300px" src="../img/bg2.jpg" />
                <img data-u="thumb" src="../img/bg2.jpg" />
            </div>
            <div>
                <img data-u="image" style="height: 300px" src="../img/1.jpg" />
                <img data-u="thumb" src="../img/1.jpg" />
            </div>
            <div>
                <img data-u="image" style="height: 300px" src="../img/2.jpg" />
                <img data-u="thumb" src="../img/2.jpg" />
            </div>
            <div>
                <img data-u="image" style="height: 300px" src="../img/policy4.jpg" />
                <img data-u="thumb" src="../img/policy4.jpg" />
            </div>
            <div>
                <img data-u="image" style="height: 300px" src="../img/stock1.jpg" />
                <img data-u="thumb" src="../img/stock1.jpg" />
            </div>
            <div>
                <img data-u="image" style="height: 300px" src="../img/policy7.jpg" />
                <img data-u="thumb" src="../img/policy7.jpg" />
            </div>
        </div>
        <!-- Thumbnail Navigator -->
     <!--    <div data-u="thumbnavigator" class="jssort101" style="position:absolute;left:0px;bottom:0px;width:980px;height:100px;background-color:#000;" data-autocenter="1" data-scale-bottom="0.75">
            <div data-u="slides">
                <div data-u="prototype" class="p" style="width:190px;height:90px;">
                    <div data-u="thumbnailtemplate" class="t"></div>
                    <svg viewbox="0 0 16000 16000" class="cv">
                        <circle class="a" cx="8000" cy="8000" r="3238.1"></circle>
                        <line class="a" x1="6190.5" y1="8000" x2="9809.5" y2="8000"></line>
                        <line class="a" x1="8000" y1="9809.5" x2="8000" y2="6190.5"></line>
                    </svg>
                </div>
            </div>
        </div>
        <!-- Arrow Navigator -->
     <!--    <div data-u="arrowleft" class="jssora106" style="width:55px;height:55px;top:162px;left:30px;" data-scale="0.75">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
                <polyline class="a" points="7930.4,5495.7 5426.1,8000 7930.4,10504.3 "></polyline>
                <line class="a" x1="10573.9" y1="8000" x2="5426.1" y2="8000"></line>
            </svg>
        </div>
        <div data-u="arrowright" class="jssora106" style="width:55px;height:55px;top:162px;right:30px;" data-scale="0.75">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
                <polyline class="a" points="8069.6,5495.7 10573.9,8000 8069.6,10504.3 "></polyline>
                <line class="a" x1="5426.1" y1="8000" x2="10573.9" y2="8000"></line>
            </svg>
        </div>
    </div>
    <script type="text/javascript">
    jssor_1_slider_init();
    </script><br><br>
    <!-- Jssor Slider End -->
    <!-- Main Content -->
   <!--  <div class="container">
        <div class="row">
            <div class="col-lg-0 col-md-0 mx-auto">
                <div class="post-preview">
                    <h3 class="post-title">
                        GOAL
                    </h3>
                    <p class="post-meta">
                        The main goal of the organization is to help people understand why all animals deserve our respect and protection – beginning with our beloved companion animals.
                    </p>
                </div>
                <hr>
                <div class="post-preview">
                    <h3 class="post-title">
                        FACTS/DATA
                    </h3>
                    <p class="post-meta">
                        In the Philippines, animal abandonment is still rampant despite Republic Act 8485 or the Animal Welfare Act of 1998. Under the law, pet owners should not “neglect to provide adequate care, sustenance or shelter, or maltreat any animal." PAWS-ter Care has sheltered more than 50 dogs rescued from the streets of Metro Manila. They all suffered from abuse ranging from abandonment to being denied treatment of various injuries they had sustained.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <section class="our-webcoderskull padding-lg">
            <div class="container">
                <div class="row heading heading-icon">
                    <h1 class="post-title" style="text-align:center">The PAWSter Care Team!</h1> <br>
                </div>
                <ul class="row">
                    <li class="col-12 col-md-6 col-lg-4">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/44635834_2431870900174403_8005925748206469120_n.jpg?_nc_cat=101&_nc_oc=AQnlXe7pEBaFicdZuKoOIqoykkURiIFMGYB2BtjwQFzLpSGd0IC9iJyoQWsN8OhZC1o&_nc_ht=scontent.fmnl4-3.fna&oh=d58959fecd925e71ee505170208b1d7f&oe=5DD4598A" class="img-responsive" alt=""></figure>
                            <h3>Jerald Edric Ang</h3>
                            <p>Chief Operating Officer (COO)</p>
                            <ul class="follow-us clearfix">
                                <li><a href="#"><i class="fa fa-paw" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://scontent.fmnl4-6.fna.fbcdn.net/v/t1.15752-9/68734891_477779162783257_5794271182815494144_n.jpg?_nc_cat=108&_nc_oc=AQnc3kbQyUr-N7N682iAoQJSr8Miuloqen_vNBGwGylFyja2mD-MtgwqMI6aQ6k8LPg&_nc_ht=scontent.fmnl4-6.fna&oh=2185792e4b8a9fd2d7893f9e126ac388&oe=5DDFAA8F" alt=""></figure>
                            <h3>Marjorie Lua</h3>
                            <p>Vice President of Operations</p>
                            <ul class="follow-us clearfix">
                                <li><a href="#"><i class="fa fa-paw" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-12 col-md-6 col-lg-4">
                        <div class="cnt-block equal-hight" style="height: 349px;">
                            <figure><img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/67638292_2254521577936468_7971738650343899136_n.jpg?_nc_cat=101&_nc_oc=AQkr5FocfHhhBprtfcwTWN1nDNfILZgOxuTwmmlXDwqCUpnor507VCk4M_fRKTOsJ10&_nc_ht=scontent.fmnl4-3.fna&oh=e7e50e83f90ecf98e3218aa97fcc3ffd&oe=5DD5AF0C" class="img-responsive" alt=""></figure>
                            <h3>Marybelle Tandoc</h3>
                            <p>General Manager</p>
                            <ul class="follow-us clearfix">
                                <li><a href="#"><i class="fa fa-paw" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </section> 
    </div> -->
    {{> footer}}
</body>

</html>