<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

<!--  title details    -->
  <title>PAWSter Care - Policies</title>
  <link rel="shortcut icon" type="image/x-icon" href="../img/logo.png" />
    
  <!-- BootstrapCDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Custom fonts for this template -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link href="/public/css/paw_care.css" rel="stylesheet">
  <script src="/public/js/paw_care.js" type="text/javascript"></script>

</head>

<body>
{{> navbar}}
    <script>HighlightTab("regulations")</script>
    
        <!-- about -->
    <div class="popular-wthree py-5" id="about">
		<div class="container py-xl-5 py-lg-3">
			<h1 class="tittle mb-sm-5 mb-4 text-bl text-center">General FAQs </h1>
            <h4 class="tittle mb-sm-5 mb-4 text-bl text-center">
             Because of the number of messages we receive everyday, we are often unable to respond right away to your questions. Most of those questions are already addressed on this page.
            </h4>
			<div class="row py-xl-4 text-center">
				<div class="col-sm-4 popular-wthree-grid">
					<img src="../img/ab1.jpg" class="img-fluid" alt="" />
					<div class="popular-wthree-text">
						
					</div>
				</div>
				<div class="col-sm-4 popular-wthree-grid my-sm-0 my-4">
					<img src="../img/ab2.jpg" class="img-fluid" alt="" />
					<div class="popular-wthree-text">
						
					</div>
				</div>
				<div class="col-sm-4 popular-wthree-grid">
					<img src="../img/ab3.jpg" class="img-fluid" alt="" />
					<div class="popular-wthree-text">
						
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- //about -->
    
    <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-0 col-md-0 mx-auto">
        <div class="post-preview">
       
            <h3 class="post-title">
               How can I adopt an animal from PAWSter Care?
            </h3>
            <p class="post-meta">
                Applicants go through a screening process to ensure that our rescued animals go to loving homes. The process includes a meet a greet with your prospective pet, three (3) separate visits to bond and get to know your chosen animal, and finally, an ocular inspection of your home.
                <br>
            </p>
        </div>
        <hr>
          
          <div class="post-preview">
               
            <h3 class="post-title">
                How can I volunteer for PAWS?
              </h3>
            <p class="post-meta">
               PAWSter Care often needs people to come and help with animal care, but volunteers may also be asked to do out-of-shelter tasks. Volunteers are always welcome as long as you have the right qualities and attitude of being responsible.
                
            </p>
        </div>
        <hr>
          <div class="post-preview">
            <h3 class="post-title">
                Do I need to create an account to be able to adopt a dog?
              </h3>
            <p class="post-meta">
                Yes, your account would be needed when you decide to adopt a dog so that we could personally track your adoption requests and also if you are capable of adopting and caring for your own dog.
                
            </p>
        </div>
        <hr>
          
         
          <div class="post-preview">
              <br>
            <h3 class="post-title">
                How will I know if my request to adopt has been approved?
            </h3>
            <p class="post-meta">
               After submitting an adoption form, we will contact you in regard to the dog that you wish to adopt. You may also reach out to us directly for a follow up on your pending request.
                
            </p>
        </div>
        <hr>
          
          <div class="post-preview">
            <h3 class="post-title">
                How Do I Meet a Pet I See on PAWSter Care?
            </h3>
            <p class="post-meta">
                Once you find a pet you’re interested in adopting, you’ll probably want to meet him or her. Go to the Meet The Dogs page and click on the pet’s picture and this will take you to the pet’s detail page. 
                
            </p>
        </div>
        <hr>
          
          <div class="post-preview">
            <h3 class="post-title">
                Why wasn't I approved to adopt a dog?
            </h3>
            <p class="post-meta">
                Here in PAWSter Care we have sets of Policies and Protocols that we follow and if only one of those were not met you may not adopt a dog. We hope you won’t let this one experience change your mind about providing a loving home to a pet in need. Thank you for helping an adoptable pet and we wish you the best of luck in your search to find a new member of your family. 
                
            </p>
        </div>
        <hr>
       </div>
    </div>
  </div><br>
    
{{> footer}}