<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

<!--  title details    -->
  <title>PAWSter Care - Adopt your Pup!</title>
  <link rel="shortcut icon" type="image/x-icon" href="../img/logo.png" />

<!-- Homepage -->
<!-- Custom-Files -->
<link rel="stylesheet" href="../css/bootstrap.css">
    
<!-- Bootstrap-Core-CSS -->
<link href="../css/css_slider.css" type="text/css" rel="stylesheet" media="all">
    
<!-- banner slider -->
<link rel="stylesheet" href="..../css/style.css" type="text/css" media="all" />
    
<!-- Style-CSS -->
<link href="..../css/font-awesome.min.css" rel="stylesheet">
    
<!--  title details    -->
<title>PAWSter Care - Adopt your Pup!</title>
<link rel="shortcut icon" type="image/x-icon" href="../img/logo.png" />
<!-- End of Homepage -->  
    
<!-- BootstrapCDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Custom fonts for this template -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!------ Footer ---------->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    
<!-- custom CSS -->
  <link href="../css/paw_care.css" rel="stylesheet">
  <link href="../css/homepage.css" rel="stylesheet">
    
<!-- custom js -->
    <script src="../js/homepage.js" type="text/javascript"></script>
	<script src="../js/paw_care.js" type="text/javascript"></script>

</head>

<body>
{{> navbar}}
    <script>HighlightTab("home")</script>

<!-- banner -->
		<div class="banner_w3lspvt">
				<div class="w3ls_banner_txt mt-0"><br><br>
                    <h3 class="w3ls_pvt-title text-wh text-uppercase mt-0"><br>PAWSter Care</h3>
                    <p class="center-item">Providing you the best service. Adopt a pup today!</p><br>
                     <div class="search-form col-md-9"> 
                    <div class="form-group">
                        <h3 class="banner_title center-item">Which breed do you want to see?</h3><br>
                        <select id="pref-breed" type="text" placeholder="Choose a breed.." class="form-control" name="prefBreed">
                                      <option value="Show All">Show All</option>
                                      <option value="Beagle">Beagle</option>
                                      <option value="Corgi">Corgi</option>
                                      <option value="Dachshund">Dachshund</option>
                                      <option value="Golden Retriever">Golden Retriever</option>
                                      <option value="Husky">Husky</option>
                                      <option value="Schnauzer">Schnauzer</option>
                        </select>
                      </div><br>
                        <div>
                            <button class="filter-button btn button-style ml-3">Find one now!</button>
                         </div></div>
                    <br><br>
				    <a href="#about" class="btn button-style mt-sm-4 mt-4" style="margin-right: 20px;">Read More</a>
                    <a href="#testimonials" class="btn button-style mt-sm-4 mt-4">Client Feedbacks</a>
                    </div>
        </div>

<!-- about -->
    <div class="popular-wthree py-4" id="about">
        <br><br><br>
		<div class="container py-xl-5 py-lg-3">
			<h3 class="tittle mb-sm-5 mb-4 text-bl text-center font-weight-bold">Welcome to PAWSter Care </h3>
			<div class="row py-xl-4 text-center">
				<div class="col-sm-4 popular-wthree-grid">
					<img src="../img/ab3.jpg" class="img-fluid" alt="" style="border-radius:5px;"/>
					<div class="popular-wthree-text"><br>
						<h5 style="border-radius: 5px;">Find a perfect match!</h5>
					</div>
				</div>
				<div class="col-sm-4 popular-wthree-grid my-sm-0 my-4">
					<img src="../img/ab2.jpg" class="img-fluid" alt="" style="border-radius:5px;"/>
					<div class="popular-wthree-text"><br>
						<h5 style="border-radius: 5px;">Fall in love with pups!</h5>
					</div>
				</div>
				<div class="col-sm-4 popular-wthree-grid">
					<img src="../img/ab1.jpg" class="img-fluid" alt="" style="border-radius:5px;"/>
					<div class="popular-wthree-text"><br>
						<h5 style="border-radius: 5px;">Your buddy awaits!</h5>
					</div>
				</div>
			</div>
		</div>
	</div><br><br><br><br>
    <!-- //about -->

<!-- testimonials -->
	<div class="testimonials py-5" id="testimonials">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="tittle mb-sm-5 mb-4 text-bl text-center font-weight-bold" style="color:white;">Client Feedbacks</h3>
			<div class="w3_testimonials_grids pt-xl-4">
				<div class="row item-owl">
					<div class="col-md-3 col-sm-4 img-agile text-center">
						<img src="../img/te1.jpg" class="img-fluid" alt="" />
						<h6>Barry Richie</h6>
					</div>
					<div class="col-md-9 col-sm-8 mt-sm-0 mt-4">
						<div class="test-review">
							<p>
								<i class="fa fa-quote-left" aria-hidden="true"></i> Adopting Richie was the best day of my life! Can't imagine a world without him.
								<i class="fa fa-quote-right" aria-hidden="true"></i>
							</p>
						</div>
					</div>
				</div>
				<div class="row item-owl my-5">
					<div class="col-md-9 col-sm-8 text-sm-right">
						<div class="test-review">
							<p>
								<i class="fa fa-quote-left" aria-hidden="true"></i> 
                                <p>Cassie was one of the best decisions I've made in my life. She brought joy and color to my world. Adopting her at PAWSter Care was a smooth and easy process!</p>
								<i class="fa fa-quote-right" aria-hidden="true"></i>
            
						</div>
					</div>
					<div class="col-md-3 col-sm-4 img-agile text-center mt-sm-0 mt-4">
						<img src="../img/te2.jpg" class="img-fluid" alt="" />
						<h6>Hannah Hartman</h6>
					</div>
				</div>
				<div class="row item-owl">
					<div class="col-md-3 col-sm-4 img-agile text-center">
						<img src="../img/te3.jpg" class="img-fluid" alt="" />
						<h6>Alexis Carrington</h6>
					</div>
					<div class="col-md-9 col-sm-8 mt-sm-0 mt-4">
						<div class="test-review">
							<p>
								<i class="fa fa-quote-left" aria-hidden="true"></i> 
                                <p>Gem and Gislle are twins and they're so adorable.While I was scrolling through my feed I found an advertisment that lead to PAWSter Care and little did I know I would end up adopting twin puppies who I adore and love each and every day.
								<i class="fa fa-quote-right" aria-hidden="true"></i>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //testimonials -->
    

{{> footer}}
    <form action = "filter" id = "filterform">                  <!-- just for the javascript function-->
            <input type = "hidden" name="id" id= "filterid">
        </form>
    </body>
</html>

