<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--  title details    -->
    <title>PAWSter Care - Policies</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/logo.png" />

    <!-- BootstrapCDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Custom fonts for this template -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- custom CSS -->
    <link href="../css/PAWSter%20Care.css" rel="stylesheet">
    <link href="../css/policies.css" rel="stylesheet">

    <!-- custom js -->
    <script src="../js/PAWSter%20Care.js" type="text/javascript"></script>

</head>

<body>
{{> navbar}}
<script>HighlightTab("regulations")</script><br><br>
<div class = "background"><br><br>
    <div class="container mt-40">
        <div class = "policies-header">
            <h1>PAWSter Care Policies</h1><br>
            <h2>We strictly adhere to these policies</h2>
        </div>
        <div class="row mt-20 tiles-container">
            <div class="col-md-4 col-sm-6">
                <div class="circle-tile ">
                    <div class="circle-tile-heading pink"><h1><b class="center">1</b></h1></div>
                    <div class="circle-tile-content white">
                        <div class="circle-tile-content">Dogs must be able to roam freely in a fenced or secure area inside the adopter’s house or compound. This can be indoors or outdoors, provided there is adequate shelter.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="circle-tile ">
                    <div class="circle-tile-heading blue"><h1><b class="center">2</b></h1></div>
                    <div class="circle-tile-content white">
                        <div class="circle-tile-content">Dogs should be walked twice daily in a responsible manner to make sure they receive the right amount of exercise.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="circle-tile ">
                    <div class="circle-tile-heading green"><h1><b class="center">3</b></h1></div>
                    <div class="circle-tile-content white">
                        <div class="circle-tile-content">They must not be debarked. Moreover, any other forms of harm towards the dogs are considered animal cruelty and PAWSter Care has the right to take back the dog.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="circle-tile ">
                    <div class="circle-tile-heading yellow"><h1><b class="center">4</b></h1></div>
                    <div class="circle-tile-content white">
                        <div class="circle-tile-content">The animal must be provided with fresh water at all times and good quality food twice daily.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="circle-tile ">
                    <div class="circle-tile-heading purple"><h1><b class="center">5</b></h1></div>
                    <div class="circle-tile-content white">
                        <div class="circle-tile-content">Veterinary treatment must be provided when necessary for the continued health and well-being of the animal. Vaccines should be kept up-to-date yearly.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="circle-tile ">
                    <div class="circle-tile-heading orange"><h1><b class="center">6</b></h1></div>
                    <div class="circle-tile-content white">
                        <div class="circle-tile-content">Dogs adopted will be picked up by the adopter and brought to their new home in a carrier in a personal vehicle.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>

{{> footer}}