<!DOCTYPE html>
<html lang="en">
    
<head>
    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

    
         <!--  title details    -->
  <title>PAWSter Care - Edit Your Profile</title>
  <link rel="shortcut icon" type="image/x-icon" href="img/logo.png" />
        
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
<!-- Custom fonts for this template -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        
<!------ Footer ---------->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Alertify CDN  -->  
 <script src="js/alertify.min.js"></script> 
    
    <!-- for sweet alert boxes (replacement for norm js pop up) -->
    <script src="../js/sweetalert2.all.min.js"></script>
    <script src="../js/editprofile.js"></script>
<!-- custom CSS -->
  <link href="../css/paw_care.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/feedbackform.css">
    
<!-- custom js -->
<script src="../js/paw_care.js" type="text/javascript"></script>

   </head>
      
    <body>
    
<!-- Navigation -->
  {{> navbar}}

    <div class="container contact">
        <li class="nav-item ml-1">
            <a class="nav-link" id="editprofile" href="editprofile">Edit Profile</a>
        </li>

        <li class="nav-item ml-1">
            <a class="nav-link" id="faq" href="requests">Requests</a>
        </li>
    </div>

  {{> footer}}
    </body> 
</html>