<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

<!--  title details    -->
  <title>PAWSter Care - Protocols</title>
  <link rel="shortcut icon" type="image/x-icon" href="../img/logo.png" />
    
  <!-- BootstrapCDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Custom fonts for this template -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- custom CSS -->
  <link href="../css/paw_care.css" rel="stylesheet">
<link href="../css/protocols.css" rel="stylesheet">
    
  <!-- Source: custom js -->
    <script src="../js/paw_care.js" type="text/javascript"></script>

</head>

<body>
{{> navbar}}
    <script>HighlightTab("regulations")</script><br><br><br>
    
     <!------------------ Hover Effect Style : Demo - 14 --------------->
       <div class="container mt-40"><br>
            <h1 class="text-center"> How to Adopt from PAWSter Care</h1>
           <p class="text-center"><br>
                We have very strict protocols in place for adopting out our shelter cats and dogs. 
                These animals have already been through very difficult times. 
                We need to be 100% certain, without a shadow of a doubt, that they will be placed in 
                loving homes.
            </p> <br>
            <div class="row mt-30"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-md-4 col-sm-6">
                    <div class="box14">
                        <img src="../img/protocol1.jpg" alt="" style="border-radius:8px;">
                        <div class="box-content"><br>
                            <h3 class="title">&nbsp;&nbsp;Meet and Greet</h3>
                            <p aria-controls=""class="post">First, you have to visit the shelter to meet your prospective pet. Seeing their cute photos online is different from meeting them in person. This is where you get to see who will tug at your heartstrings and possibly be a new addition to your home.</p>
                        </div>
                    </div>
                    <p class="text_style">1. Meet and Greet</p>
                </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-md-4 col-sm-6">
                    <div class="box14">
                        <img src="../img/protocol2.jpg" alt="" style="border-radius:8px;">
                        <div class="box-content"><br>
                            <h3 class="title">&nbsp;&nbsp;Application and Interview</h3>
                            <p class="post">You need to fill up an application form expressing your intent to adopt your chosen cat or dog. You will also be interviewed at least twice to ensure that you and your chosen pet are a good match and you are able to give them a suitable home.</p>
                        </div>
                    </div>
                    <p class="text_style2">2. Application and Interview</p>
                </div> 
           </div>
    </div> 
    <br>
    <div class="container mt-40"><br>
            <div class="row mt-30"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-md-4 col-sm-6">
                    <div class="box14">
                        <img src="../img/protocol3.jpg" alt="" style="border-radius:8px;">
                        <div class="box-content">br>
                            <h3 class="title">&nbsp;&nbsp;Shelter Visits</h3>
                            <p class="post">You need to make three (3) separate visits to the shelter to spend time with your prospective pet. This is how you know if your chosen r dog is a good fit. It gives you a chance to bond, or if necessary, pick a different pet that will be a better fit for you and your family.</p>
                        </div>
                    </div>
                    <p class="text_style3">3. Shelter Visits</p>
                </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-md-4 col-sm-6">
                    <div class="box14">
                        <img src="../img/protocol4.jpg" alt="" style="border-radius:8px;">
                        <div class="box-content"><br>
                            <h3 class="title">&nbsp;&nbsp;Home Visit (Ocular Inspection)</h3>
                            <p class="post">A staff member or volunteer will be assigned to visit your home to meet your other family members (if any). This is also done to ensure that your home will be suitable for your new pet.</p>
                        </div>
                    </div>
                    <p class="text_style4">4. Home Visit (Ocular Inspection)</p>
                </div> 
           </div>
    </div><br><br>
    
    <h2 class="text-center">Terms and Conditions upon submitting a request form:</h2>
    <div style="padding: 0% 10%; text-align: center"><br>                      
    <p>I understand that applying does not ensure approval and that untruthful answers or failure to comply with the requirements of this application can result in the forfeiture of any PAWSter Care animal fostered by me.<br><br>
                        
    I certify that the above information is correct, and I understand that the information will be verified.<br><br>

    I understand that by submitting this form electronically, I agree to release and covenant to hold harmless PAWSter Care and it's members from any claims, damages, costs, or actions incurred because of the care or actions of the foster dog.<br><br>

    I accept full responsibility for the dog(s) actions at all times, and release PAWSter Care from any liabilities or damages that may be incurred because of fostering such dog(s).<br><br>

    I agree to have PAWSter Care complete reference call checks and conduct a home visit inspection to be able to approve my foster application.<br><br>

    I agree that if I'm unable to foster the dog(s) anymore that I will return the dog(s) to PAWSter Care and try to give PAWSter Care a 2 week period to try and find another suitable foster for the dog(s).
    </p></div>  
    
    <br><br>
    
{{> footer}}