.bg-beige{
  background-color: #F2EEE5;
}

.bubblegumsans {
    font-family: "Bubblegum Sans"!important;
}

.chewy {
    font-family: "Chewy"!important;
}

.cabin{
  font-family: "Cabin"!important;
}

.delius{
    font-family: "Delius Regular"!important;
}

.caveat{
    font-family: "Caveat"!important;
}

@font-face {
    font-family: "Bubblegum Sans";
    src: url("../vendor/fontawesome-free/webfonts/bubblegumsans.otf");
}

@font-face {
    font-family: "Chewy";
    src: url("../vendor/fontawesome-free/webfonts/chewy.ttf");
}

@font-face {
    font-family: "Cabin";
    src: url("../vendor/fontawesome-free/webfonts/cabin.ttf");
}

@font-face {
    font-family: "Caveat";
    src: url("../vendor/fontawesome-free/webfonts/caveat.ttf");
}

@font-face {
    font-family: "Delius Swash Caps";
    src: url("../vendor/fontawesome-free/webfonts/deliusswashcaps.ttf");
}

@font-face {
    font-family: "Delius";
    src: url("../vendor/fontawesome-free/webfonts/deliusregular.ttf");
}

.text-black{
  color: black;
}

.text-brown{
  color: #4B1C00;
}

.text-green{
  color: #A3AD55;
}

.text-violet{
  color: #A36EB9;
}

.text-blue{
  color: #79B3CE;
}

.text-grayblue{
    color: #495D68;
}

.text-orange{
    color: #F87D04;
}

.nav-item:hover .nav-link {
    background-color: rgba(255,255,255,0.2);
    color: #F87D04;
    transition: .2s ease-out;
    transition-delay: 0.1s;
}

#nav-profile-tab:hover {
    background-color: rgba(255,255,255,0.2);
    color: #F87D04;
    transition: .2s ease-out;
    transition-delay: 0.1s;
}


#nav-home-tab:hover {
    background-color: rgba(255,255,255,0.2);
    color: #F87D04!important;
    transition: .2s ease-out;
    transition-delay: 0.1s;
}
.emp-profile{
    position: relative;
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    border: 1px solid darkgray;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 100%;
    height: 230px;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link:hover{
    color: black;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

/*Eliminates padding, centers the thumbnail */

/* Styles the thumbnail */

a.lightbox img {
border: 3px solid .category{
    color: white;
};
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
max-height: 70%;
max-width: 70%;
}

.lightbox-target:target a.lightbox-close {
top: 9%;
}

.ribbon{
    position: absolute;
    display: flex;
    height: 80px;
    width: 80px;
    top: -4%;
    left: -2%;
    
}

.adopt{
    position: absolute;
    top: -4%;
    right: 0;
}