html{
  height: 100%;
}

body {
  min-height: 100%;
  min-height: 100%;
  /*background: linear-gradient(to right, #0062E6, #33AEFF);*/
}

.bubblegumsans {
    font-family: "Bubblegum Sans"!important;
}

.chewy {
    font-family: "Chewy"!important;
}

.cabin{
  font-family: "Cabin"!important;
}

.delius{
    font-family: "Delius"!important;
}

.caveat{
    font-family: "Caveat"!important;
}

@font-face {
    font-family: "Bubblegum Sans";
    src: url("../vendor/fontawesome-free/webfonts/bubblegumsans.otf");
}

@font-face {
    font-family: "Chewy";
    src: url("../vendor/fontawesome-free/webfonts/chewy.ttf");
}

@font-face {
    font-family: "Cabin";
    src: url("../vendor/fontawesome-free/webfonts/cabin.ttf");
}

@font-face {
    font-family: "Caveat";
    src: url("../vendor/fontawesome-free/webfonts/caveat.ttf");
}

@font-face {
    font-family: "Delius Swash Caps";
    src: url("../vendor/fontawesome-free/webfonts/deliusswashcaps.ttf");
}

@font-face {
    font-family: "Delius";
    src: url("../vendor/fontawesome-free/webfonts/deliusregular.ttf");
}

.text-black{
  color: black;
}

.text-brown{
  color: #4B1C00;
}

.text-green{
  color: #A3AD55;
}

.text-violet{
  color: #A36EB9;
}

.text-blue{
  color: #79B3CE;
}

div.form-body{
	background: #fff;
	
}

div.container.contact{
	padding-top: 0.2em;
}

.form-group{
	padding: 0.7em;
	margin: 0.2em;
}

div.feedback-head{
	margin-left: 2em;
}

h1{
	padding-top: 0.2em;
}

div.col-md-7{
	background: #fff;
	padding: 3%;
}

.contact{
	padding: 4%;
    padding-bottom: 50%;
	height: 400px;
	
}

.contact-info{
	margin-top:10%;
}
.contact-info img{
	margin-bottom: 15%;
}
.contact-info h2{
	margin-bottom: 10%;
}
.contact-form label{
	font-weight:600;
}
.contact-form button{
	background: #25274d;
	color: #fff;
	font-weight: 600;
	width: 25%;
}
.contact-form button:focus{
	box-shadow:none;
}	

.btn-submit{
    width: 100%;
}

.form-container{
    padding: 1.25rem 3.25rem; 
}

/* for password checker */

p {
    margin-bottom: 0;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -10px;
  content: "✓";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -10px;
  content: "x";
}