html{
    height: 100%;
}

body{
    min-height: 100%;
}

.bg-beige{
  background-color: #F2EEE5;
}

.bubblegumsans {
    font-family: "Bubblegum Sans"!important;
}

.chewy {
    font-family: "Chewy"!important;
}

.cabin{
  font-family: "Cabin"!important;
}

.delius{
    font-family: "Delius"!important;
}

.caveat{
    font-family: "Caveat"!important;
}

@font-face {
    font-family: "Bubblegum Sans";
    src: url("../vendor/fontawesome-free/webfonts/bubblegumsans.otf");
}

@font-face {
    font-family: "Chewy";
    src: url("../vendor/fontawesome-free/webfonts/chewy.ttf");
}

@font-face {
    font-family: "Cabin";
    src: url("../vendor/fontawesome-free/webfonts/cabin.ttf");
}

@font-face {
    font-family: "Caveat";
    src: url("../vendor/fontawesome-free/webfonts/caveat.ttf");
}

@font-face {
    font-family: "Delius Swash Caps";
    src: url("../vendor/fontawesome-free/webfonts/deliusswashcaps.ttf");
}

@font-face {
    font-family: "Delius";
    src: url("../vendor/fontawesome-free/webfonts/deliusregular.ttf");
}

.text-black{
  color: black;
}

.text-brown{
  color: #4B1C00;
}

.text-green{
  color: #A3AD55;
}

.text-violet{
  color: #A36EB9;
}

.text-blue{
  color: #79B3CE;
}

.hide{
  display: none;
}


.search-form{
    background-color: rgb(255,255,255,0.4);
    padding: 3%;
    border-radius: 3%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn.btn-dark.ml-3{
    background-color: #475E6C;
    border-style: none;
}

/* banner */
.banner_w3lspvt {
    position: relative;
    padding: 80px 0;
    background-image: url("../img/homedog.png");
    background-position: center;
    background-size: cover;
}

.w3ls_banner_txt {
    text-align: right;
}

.w3ls_banner_txt p {
    color: #eee;
}

h3.w3ls_pvt-title {
    font-size: 4em;
    color: #4B1C00;
    text-align: right;
}

h4.w3ls_pvt-title {
    font-size: 4em;
    color: #4B1C00;
    text-align: right;
}

.w3ls_banner_txt h5 {
    font-weight: 400;
    color: #000;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.button-style {
    padding: 12px 20px;
    border: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Bubblegum Sans"!important;
    background: #6DAB3C;
}

.button-style:hover {
    background: #fff;
    color: #4B1C00;
}

/* banner responsive */
@media(max-width: 1440px) {
    .csslider>ul>li {
        min-height: 760px;
    }

    .w3ls_banner_txt {
        margin-top: 15em;
    }
}

@media(max-width: 1366px) {
    .csslider>ul>li {
        min-height: 740px;
    }

    h3.w3ls_pvt-title {
        font-size: 3.8em;
    }

    .w3ls_banner_txt {
        margin-top: 14em;
    }
}

.cards {
  position: relative;
}

.card-block {
  position: absolute;
  bottom: 60px;
  right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@media(max-width: 1080px) {
    .csslider>ul>li {
        min-height: 600px;
    }

    h3.w3ls_pvt-title {
        font-size: 3.2em;
    }

    .w3ls_banner_txt {
        margin-top: 13em;
    }
}

@media(max-width: 1024px) {
    h3.w3ls_pvt-title {
        font-size: 2.8em;
    }
}

@media(max-width: 900px) {
    .csslider>ul>li {
        min-height: 580px;
    }

    h3.w3ls_pvt-title {
        font-size: 2.8em;
    }

    .w3ls_banner_txt {
        margin-top: 12em;
    }
}

@media(max-width: 736px) {
    h3.w3ls_pvt-title {
        font-size: 2.6em;
    }
}

@media(max-width: 667px) {
    h3.w3ls_pvt-title {
        font-size: 2.4em;
    }

    .button-style {
        padding: 10px 20px;
        font-size: 13px;
    }

    .csslider>ul>li {
        min-height: 530px;
    }

    .w3ls_banner_txt {
        margin-top: 11em;
        margin-left: 5em;
    }
}

@media(max-width: 600px) {
    .csslider>ul>li {
        min-height: 480px;
    }

    .w3ls_banner_txt {
        margin-top: 10em;
        margin-left: 3em;
    }
}

@media(max-width: 568px) {
    .team-grid {
        text-align: center;
    }
}

@media(max-width: 480px) {
    h3.w3ls_pvt-title {
        font-size: 2em;
    }

    .csslider>ul>li {
        min-height: 440px;
    }

    .w3ls_banner_txt p {
        font-size: 12px;
    }
}

@media(max-width: 440px) {
    .w3ls_banner_txt {
        margin-top: 9em;
        margin-left: 2.5em;
    }
}

@media(max-width: 414px) {
    h3.w3ls_pvt-title {
        font-size: 1.8em;
    }

    .csslider>ul>li {
        min-height: 420px;
    }
}

@media(max-width: 384px) {
    h3.w3ls_pvt-title {
        font-size: 2em;
    }

    .w3ls_banner_txt {
        margin-top: 8em;
        margin-left: 2em;
    }
}

@media(max-width: 375px) {
    h3.w3ls_pvt-title {
        font-size: 1.6em;
    }

    .button-style {
        padding: 10px 15px;
    }

    .csslider>ul>li {
        min-height: 380px;
    }
}

@media(max-width: 320px) {
    .w3ls_banner_txt {
        margin-top: 7.5em;
        margin-left: 1.2em;
    }
}

/* banner responsive */
/* //banner */
/* about */
h3.title {
    font-size: 43px;
    color: #f97d42;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
}
/*
.popular-wthree-grid:hover img {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}*/

.popular-wthree-grid img {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.popular-wthree-grid h5 {
    font-size: 28px;
    color: #222;
    padding: .5em 0;
    text-align: center;
    border: 3px double #f97d42;
    letter-spacing: 1px;
}

/* //about */

/* testimonials */
.testimonials {
    background-color: #FFFFFF;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.carousel-indicators li {
    border: none;
    background: #ccc;
}

.carousel-indicators li.active {
    background: #28a745;
}


.testimonials h3.title {
    color: #fff;
}

.test-review {
    padding: 2em;
    border: 1px solid #fff;
    background: rgba(239, 236, 236, 0.6);
    border-radius: 5px;
}

.test-review p {
    color: #000;
    line-height: 2.5;
}

.test-review i {
    color: #000;
    font-size: 2em;
    margin: 0 0.5em;
    vertical-align: top;
}

.img-agile h6 {
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
    letter-spacing: 1px;
}

.img-agile img {
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
}

/* //testimonials */

.img_policy{
    margin-top: 20px;
}

.btn.button-style.mt-sm-4.mt-4{
    margin-left: 32px;
}

