/* login basically uses the same css as signup, overwrite or add here */

html{
    height: 100%;
}

body{
    min-height: 100%;
}

.wrapper--w680 {
    max-width: 480px;
}

.card-1 .card-body {
    padding: 0 70px;
    padding-top: 55px;
    padding-bottom: 65px;
}

.card-heading img{
    height: 100px;
    width: 100px;
    margin-bottom: -12%; 
}

