/* login basically uses the same css as signup, overwrite or add here */

html{
    height: 100%;
}

h2{
	font-family:chewy!important;
	color: #4B1C00;
}

.chewy {
    font-family: "Chewy"!important;
}

@font-face {
    font-family: "Chewy";
    src: url("../vendor/fontawesome-free/webfonts/chewy.ttf");
}

body{
    min-height: 100%;
}

.cabin {
    font-family: "Cabin"!important;
}

@font-face {
    font-family: "Cabin";
    src: url("../vendor/fontawesome-free/webfonts/cabin.ttf");
}

.wrapper--w680 {
    max-width: 480px;
}

.card-1 .card-body {
    padding: 0 70px;
    padding-top: 55px;
    padding-bottom: 65px;
}

.card-heading img{
    height: 100px;
    width: 100px;
    margin-bottom: -12%; 
}

