body{
    background-color: #F2EEE5;
}

/* navbar css */
.navbar-custom {
    background-color: #475E6C;
    font-family: "Delius"!important;
}

/*change navbar color for admin*/
.navbar-admin{
    background-color: #475E6C;
}

.bg-beige{
  background-color: #F2EEE5;
}

.bubblegumsans {
    font-family: "Bubblegum Sans"!important;
}

.chewy {
    font-family: "Chewy"!important;
}

.cabin{
  font-family: "Cabin"!important;
}

.delius{
    font-family: "Delius"!important;
}

@font-face {
    font-family: "Bubblegum Sans";
    src: url("../vendor/fontawesome-free/webfonts/bubblegumsans.otf");
}

@font-face {
    font-family: "Chewy";
    src: url("../vendor/fontawesome-free/webfonts/chewy.ttf");
}

@font-face {
    font-family: "Cabin";
    src: url("../vendor/fontawesome-free/webfonts/cabin.ttf");
}

@font-face {
    font-family: "Delius Swash Caps";
    src: url("../vendor/fontawesome-free/webfonts/deliusswashcaps.ttf");
}

@font-face {
    font-family: "Delius";
    src: url("../vendor/fontawesome-free/webfonts/deliusregular.ttf");
}

.text-black{
  color: black;
}

.text-brown{
  color: #4B1C00;
}

.text-green{
  color: #A3AD55;
}

.text-violet{
  color: #A36EB9;
}

.text-blue{
  color: #79B3CE;
}

.text-orange{
    color: #F87D04;
}

.hide{
  display: none;
}

.navbar-brand img{
    height: 35px;
    width: 35px;
}

        
/* change the brand and text color */     
.navbar-brand,
.navbar-text{
    color: #ffffff;
    transition: .2s ease-out; 
    }
.navbar-brand:hover{
    background-color: rgba(255,255,255,0.2);
    color: #ffffff;
    transition: .2s ease-out; 
    transition-delay: 0.1s;
}

/* change the link color */
.navbar-nav .nav-link {
    color: rgba(255,255,255,1);
    }
/* change the color of active or hovered links */
.nav-item.active .nav-link {
    color: #ffffff;
    transition: .2s ease-out;
    }

.nav-item:hover .nav-link{
    background-color: rgba(255,255,255,0.2);
    color: #ffffff;
    transition: .2s ease-out; 
    transition-delay: 0.1s;
}

.navbar-custom .navbar-nav > li > .dropdown-menu {
    background-color: #ffd394;
    }
 
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
    color: #000000;
    }
 
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #000000;
    }

#mainNav .navbar-toggler {
  color: #ffffff;
}

/* image slider css */
/*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider arrow skin 106 css*/
        .jssora106 {display:block;position:absolute;cursor:pointer;}
        .jssora106 .c {fill:#fff;opacity:.3;}
        .jssora106 .a {fill:none;stroke:#000;stroke-width:350;stroke-miterlimit:10;}
        .jssora106:hover .c {opacity:.5;}
        .jssora106:hover .a {opacity:.8;}
        .jssora106.jssora106dn .c {opacity:.2;}
        .jssora106.jssora106dn .a {opacity:1;}
        .jssora106.jssora106ds {opacity:.3;pointer-events:none;}

        /*jssor slider thumbnail skin 101 css*/
        .jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
        .jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
        .jssort101 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
        .jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
        .jssort101 .p:hover{padding:2px;}
        .jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
        .jssort101 .p:hover.pdn{padding:0;}
        .jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
        .jssort101 .pav .cv {border-color:#fff;opacity:.35;}
        .jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
        .jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
        .jssort101 .pav .t, .jssort101 .p:hover .t{opacity:1;}

/*image cards for dogs*/
.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}

/*for caption in dog images*/
.dog_name{
    background-color: #475E6C;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 3px;
}

/* posts/text css */
.post-preview > a {
  color: #212529;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #0085A1;
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

/*to align image and text without oveflow*/
.clearfix{
    overflow: auto;
}

/* footer css */
footer{
    background-color: #475E6C;
    position: static;
}

.category{
    color: white;
}

label.col-md-3.control-label{
    max-width: 30%;
}

.btn.btn-outline-black.waves-effect.filter:hover{
    background-color: rgba(255,255,255,0.2);
    color: #ffffff;
    transition: .2s ease-out; 
    transition-delay: 0.1s;
    color: black;
}

.col-md-6.1{
    max-width: 80%;
    padding-left: 0px;
}

.btn.btn-primary.btn-danger.delete.fa.fa-check{
    margin-left: 20px;
    height: 35px;
}

.btn.btn-primary.btn-danger.delete.fa.fa-check:hover{
    background-color: red;
    color: #ffffff;
    transition: .2s ease-out; 
    transition-delay: 0.1s;
    color: white;
}

