html{
    height: 100%
}

body{
    min-height: 100%;
    background: url(../img/headerProfile.jpg) no-repeat top;
    background-size: cover;
}

.container{
    text-align: center;
}

.emp-profile{
    padding: 5em;
    margin-top: 5em;
    border-radius: 0.5rem;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 90%;
    height: 100%;
    border-radius: 50%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head{
    float: right;
    color: #4B1C00;
}

.profile-head .user-data{
    padding-bottom: 10%;
    color: #4E3939;
}

.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}

.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

div.col-md-6{
    padding: 1em;
}

/* requests */

.table{
    margin-top: 8%;
}

.table td, .table th{
    border-top-color: #F2EEE5!important;
    border-color: #F2EEE5!important;
    padding: 20px 0px;
}

.approved{
    background-color: #addbad;
}

.approved:hover{
    background-color: #BDE2BD;
}

.rejected{
    background-color: #ECA9A7;
}

.rejected:hover{
    background-color: #EFBAB8;
}

.pending{
    background-color: #F9F9F9;
}

.pending:hover{
    background-color: rgba(255,255,255);
}

.request-header{
    background-color: #F2EEE5;
}

.reqicon{
    height: 70px;
    width: 80px;
}


.lightbox-target:target a.lightbox-close {
top: 9%;
}

.btn-outline-primary, .btn-outline-primary:hover{
	background-color:#6DAB3C!important;
    border-color: #6DAB3C;
    color: white;
	text-decoration: none!important;
	width: 90%!important;
}

a:hover{
	text-decoration: none!important;
}