html{
    height: 100%;
}

body{
    min-height: 100%;
}

.paper-bg{
    background-color: white; 
    padding: 5%;
    border-top-right-radius: 6%;
    border: 1px rgb(200,200,200) solid;
}

.pawprint{
    position: absolute;
    display: flex;
    height: 80px;
    width: 80px;
    top: 1%;
    right: 1%; 
}

.clip{
    position: absolute;
    display: flex;
    height: 80px;
    width: 80px;
    top: -1%;
    left: -2%; 
}

.chosen_dog{
    height: 300px;
    width: 500px;
    margin: 0 auto;
}

