html{
    height: 100%;
}

body{
    min-height: 100%;
}

.approved{
    background-color: #addbad;
}

.approved:hover{
    background-color: #BDE2BD;
}

.rejected{
    background-color: #ECA9A7;
}

.rejected:hover{
    background-color: #EFBAB8;
}

.pending{
    background-color: #F9F9F9;
}

.pending:hover{
    background-color: rgba(255,255,255);
}

.request-header{
    background-color: rgb(192,192,192);
}

.reqicon{
    height: 70px;
    width: 80px;
}

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
max-height: 70%;
max-width: 70%;
}

.lightbox-target:target a.lightbox-close {
top: 9%;
}
