html{
    height: 100%;
}

body{
    min-height: 100%;
}

span{
    display: inline-block;
    text-align: right;
}

.container-fluid{
    padding: 0;
}

.request-wrap{
    background-color: white; 
    padding: 3%;
    width: 100%;
    background: url("../img/request_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.request-block{
    margin: auto;
    background-color: #EDEEF0; 
    padding: 6% 5%;
    margin-top: 4%;
    width: 70%;
    height: 50%;
    border-radius: 2%;
}

.pawprint{
    position: absolute;
    display: flex;
    height: 80px;
    width: 80px;
    top: 1%;
    right: 1%; 
}

.clip{
    position: absolute;
    display: flex;
    height: 80px;
    width: 80px;
    top: -1%;
    left: -2%; 
}

.chosen_dog{
    height: 300px;
    width: 500px;
    margin: 0 auto;
}

.request-header{
    color: #8E6E63;
}

.btn-submit{
    display: block;
    float: left;
    width: 45%;
    background-color: #6DAB3C;
    color: white;
}

.btn-cancel{
    display: block;
    float: right;
    width: 45%;
    background-color: #EB4D4D;
    color: white;
}

.btn-wrap{
    margin: auto;
}

.card-1 .card-body {
    padding: 0px 70px;
    padding-top: 65px;
    padding-bottom: 65px;
}

.circle-tile {
    text-align: center;
    height: 75%;
}
.circle-tile-heading {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #FFFFFF;
    height: 120px;
    margin: 0 auto -95px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 120px;
    background-color: white;
}

.circle-tile-heading img{
    max-height: 100%;  
    max-width: 100%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.circle-tile-heading h1{
    font-size: 80px;
}

.circle-tile-number {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 0 15px;
}
